__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build/
.venv/
venv/
.env
.python-version
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/
pretty.output
_site/
site/_build/
*.html
!src/markusmd/static/*.html
project/.overlay/
